
<div class="container-fluid bg-color mb-3">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <h4 class="text-dark">Bloody Sweet</h4>
        </a>
      </div>

      <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form> -->

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 ms-auto">
        <!-- <li><a routerLink="/sweet" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link px-2 primary-color">Home</a></li> -->
        <li><a routerLink="/sweet" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link px-2 primary-color text-dark">Sweets</a></li>
        <li><a routerLink="/savouries" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link px-2 primary-color text-dark">Savouries</a></li>
        <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link px-2 primary-color text-dark">About</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-dark me-2">Sign-Up</button>
        
      </div>
    </header>
  </div>

