<div class="container-fluid mb-0 bg-color">
  <footer  class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
      <!-- <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"> -->
        <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg> -->
        <h3 class="text-center text-dark mt-5"> BLOODY SWEET</h3>
        <ul class="bull d-flex justify-content-md-between mt-5">
          <li class="nav-item mb-2"><a class="active" href=""><i class="fa-brands fa-instagram text-dark"></i></a></li>
          <li class="nav-item mb-2"><a class="active" href=""><i class="fa-brands fa-facebook text-dark"></i></a></li>
          <li class="nav-item mb-2"><a class="active" href=""><i class="fa-brands fa-whatsapp text-dark"></i></a></li>
          <li class="nav-item mb-2"><a class="active" href=""><i class="fa-brands fa-x-twitter text-dark"></i></a></li>
        
      </ul>

      <!-- </a> -->
      
<!-- <div class="d-flex">
      <a class="active" href="#"><i class="fa-brands fa-instagram"></i></a>
      <a class="active" href="#"><i class="fa-brands fa-facebook"></i></a>
      <a class="active" href="#"><i class="fa-brands fa-x-twitter"></i></a>
      <a class="active" href="#"><i class="fa-brands fa-youtube"></i></a>
    </div> -->
      
      
    </div>

    <div class="col mb-3">

    </div>

    <div class="col mb-3">
      <h5 class="h4 text-dark">Products</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Sweets</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Savouries</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Pricing</a></li>
       
      </ul>
    </div>

    <div class="col mb-3">
      <h5 class="h4 text-dark">Policies</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0  text-dark">Privacy Policy</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0  text-dark">Terms & Condition</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0  text-dark">Cancellation Policy</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0  text-dark">Return Policy</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0  text-dark">Track Order</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5 class="h4 text-dark">Contact Us</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Company Address: 1/25 V E road  urappakkam chennai-2</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Toll Free: 1800-2345-5648</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark"> www.bloodysweet.com</a></li>
      </ul>
    </div>
    <div class="text-center col-md-12 mb-0 h6" style="margin-bottom: 0px;">
    <p class="text-dark mb-5 ms-auto">© 2024 bloodysweet reserved</p>
  </div>
  </footer>
</div>