<!-- <div class="container py-4">
    

    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome To Bloody Sweet!</h1>
        <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
        <button class="btn btn-primary btn-lg" type="button">Example button</button>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>Change the background</h2>
          <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
          <button class="btn btn-outline-light" type="button">Example button</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>Add borders</h2>
          <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
          <button class="btn btn-outline-secondary" type="button">Example button</button>
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-body-secondary border-top">
      © 2024
    </footer>
  </div> -->



  <div class="container">
          <!-- <h2 class="wow fadeScale" style="visibility: visible; animation-name: fadeScale;">About us</h2> -->
          <div class="row row-30 row-lg justify-content-center">
            <div class="col-sm-8 col-md-7 col-lg-6 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;"><img src="img/about-1.jpg" alt="" width="570" height="511">
            </div>
            <div class="col-md-10 col-lg-6 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
              <!-- Bootstrap tabs-->
              <div class="tabs-custom tabs-jean" id="tabs-1">
                <!-- Tab panes-->
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="tabs-1-1" role="tabpanel">
                    <div class="box-info-creative">
                      <h4 class="box-info-creative-title">providing quality baked Sweets & savouries goods for all customers</h4>
                      <div class="box-info-creative-text">Our mission is Delighting taste buds with a fusion of handcrafted sweets and savory delights, we strive to bring joy and flavor to every occasion, ensuring quality, creativity, and a memorable culinary experience.</div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="tabs-1-2" role="tabpanel">
                    <div class="box-info-creative">
                      <h4 class="box-info-creative-title"><a href="#">Ensuring the Best Atmosphere for Everyone</a></h4>
                      <div class="box-info-creative-text"> "At Sweets & Savouries, we value quality ingredients, exceptional taste, and customer satisfaction. We commit to delivering delightful culinary experiences with every handcrafted bite, every time."</div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="tabs-1-3" role="tabpanel">
                    <div class="box-info-creative">
                      <h4 class="box-info-creative-title"><a href="#">Serving only the freshest baked goods for you</a></h4>
                      <div class="box-info-creative-text"> "At Sweets & Savouries, our goals are to innovate with unique flavors, maintain the highest quality standards, expand our reach, and create memorable culinary experiences that delight our customers."</div>
                    </div>
                  </div>
                </div>
                <!-- Nav tabs-->
                <div class="nav-tabs-wrap">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-1-1" data-bs-toggle="tab" aria-selected="true" role="tab">Our mission</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-2" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">Our Values</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-3" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">Our goals</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>