<h1 class="text-center my-5">Savouries</h1>
<div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm">
                <img src="img/img11.png" alt="" class="bd-placeholder-img card-img-top" width="100%">

                <h4 class="text-center my-2"> Nava Dhaniya Mixture</h4>

                <p class="card-text my-0 px-3 pb-3">"Nava Dhainiya mixture features a blend of nine aromatic spices, perfect for adding depth to your dishes.".</p>
                <div class="text-center mb-2"><h6>Rs.300</h6></div>
                <div style="text-align: center;"> <button type="button" class="btn me-2 mb-3">Order Now</button></div>

            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">

                <img src="img/img12.png" alt="" class="bd-placeholder-img card-img-top" width="100%">

                <h4 class="text-center my-2"> Mixture</h4>

                <p class="card-text px-3 pb-3 my-0">"A balanced blend of flavors with our mixture, featuring savory, crunchy elements for a satisfying taste experience."</p>
                <div class="text-center mb-2"><h6>Rs.300</h6></div>
                <div style="text-align: center;"> <button type="button" class="btn me-2 mb-3">Order Now</button></div>

            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">

                <img src="img/img13.png" alt="" class="bd-placeholder-img card-img-top" width="100%">

                <h4 class="text-center my-2">Andra Murukku</h4>

                <p class="card-text px-3 pb-3 my-0">"A balanced blend of flavors , featuring savory, crunchy elements for a satisfying taste experience."</p>
                <div class="text-center mb-2"><h6>Rs.300</h6></div>
                <div style="text-align: center;"> <button type="button" class="btn me-2 mb-3">Order Now</button></div>

            </div>
        </div>
        

        <div class="col">
            <div class="card shadow-sm">
                <img src="img/img14.png" alt="" class="bd-placeholder-img card-img-top" width="100%">

                <h4 class="text-center my-2"> Seeval</h4>

                <p class="card-text px-3 pb-3">
                    "Enjoy crispy varuval: rice and gram flour seasoned with spices, deep-fried to golden perfection for the perfect snack any time."</p>
                    <div class="text-center mb-2"><h6>Rs.300</h6></div>
                    <div style="text-align: center;"> <button type="button" class="btn me-2 mb-3">Order Now</button></div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="img/banchip.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%">

                <h4 class="text-center my-2">Banana Chips</h4>

                <p class="card-text px-3 pb-3">
                    "Crunch into our Banana Chips: ripe bananas, aromatic spices, perfect sweetness and spice. Ideal as a snack or meal complement!"</p>
                    <div class="text-center mb-2"><h6>Rs.400</h6></div>
                    <div style="text-align: center;"> <button type="button" class="btn me-2 mb-3">Order Now</button></div>

            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">

                <img src="img/img16.png" alt="" class="bd-placeholder-img card-img-top" width="100%">

                <h4 class="text-center my-2"> Garlic Murukku</h4>

                <p class="card-text px-3 pb-3">
                    "Discover the aromatic delight of Garlic Muruku, perfectly spiced with a crunchy texture, a savory treat like no other!".</p>
                    <div class="text-center mb-2"><h6>Rs.500</h6></div>
                    <div style="text-align: center;"> <button type="button" class="btn me-2 mb-3">Order Now</button></div>

            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img src="img/roast1.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%">

                <h4 class="text-center my-2"> Roast Cashew</h4>

                <p class="card-text px-3 pb-3">
                    "Roasted to perfection, our Cashew Special offers buttery crunchiness and irresistible flavor in every bite. Taste excellence today!"</p>
                    <div class="text-center mb-2"><h6>Rs.1000</h6></div>
                    <div style="text-align: center;"> <button type="button" class="btn me-2 mb-3">Order Now</button></div>

            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="img/somos.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%">

                <h4 class="text-center my-2"> somos</h4>

                <p class="card-text px-3 pb-3">"Discover the unique blend of flavors in our Somos Special, a tantalizing treat with a hint of mystique in every bite!"</p>
                <div class="text-center mb-2"><h6>Rs.150</h6></div>
                <div style="text-align: center;"> <button type="button" class="btn me-2 mb-3">Order Now</button></div>
            </div>
        </div>


            <div class="col">
                <div class="card shadow-sm">
                    <img src="img/tri1.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%">

                    <h4 class="text-center my-2"> Triangle Masala</h4>

                    <p class="card-text px-3 pb-3">"Delight in our Masala Triangle Puff: crispy pastry filled with savory masala, a perfect snack any time of day, loved by all!"</p>
                    <div class="text-center mb-2"><h6>Rs.250</h6></div>
                    <div style="text-align: center;"> <button type="button" class="btn me-2 mb-3">Order Now</button></div>
                </div>
                
            </div>
        </div>
    </div>