<h1 class="text-center py-5">Sweets</h1>

<div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm">
                <img src="img/img-1.png" alt="" class="bd-placeholder-img card-img-top" width="100%">

                <h3 class="text-center my-2"> Kaju Kathli</h3>

                <p class="card-text my-0 px-3 pb-3">
                    Experience the bliss of KajuKatlis—a heavenly blend of cashew nuts and milk, adorned with silver leaf to tantalize your taste buds</p>
                    <div class="text-center mb-2"><h6>Rs.1200</h6></div>
                   <div style="text-align: center;"> <button type="button" class="btn me-2 mb-3">Order Now</button></div>


            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">

                <img src="img/img-2.png" alt="" class="bd-placeholder-img card-img-top" width="100%">

                <h3 class="text-center my-2"> Beda</h3>

                <p class="card-text px-3 pb-3 my-0">Experience our Peda, a royal blend of saffron, rich milk, heavy cream, and crushed cardamom for an unmatched taste sensation!</p>
                <div class="text-center mb-2"><h6>Rs.1000</h6></div>
                <div style="text-align: center;"> <button type="button" class="btn me-2 mb-3">Order Now</button></div>

            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">

                <img src="img/img3.png" alt="" class="bd-placeholder-img card-img-top" width="100%">

                <h3 class="text-center my-2"> Besan ladoo</h3>

                <p class="card-text px-3 pb-3 my-0">BesanLaddus, made with fine besan, garnished with cashews and almonds, offer a mesmerizing look and taste.</p>
                <div class="text-center mb-2"><h6>Rs.800</h6></div>
                <div style="text-align: center;"> <button type="button" class="btn me-2 mb-3">Order Now</button></div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img src="img/img4.png" alt="" class="bd-placeholder-img card-img-top" width="100%">

                <h3 class="text-center my-2"> Spl Mysore pak</h3>

                <p class="card-text px-3 pb-3 my-0">
                    Mysore Pak, a royal sweet, is made with generous ghee, sugar, and gram flour from Mysore palace kitchen..</p>
                    <div class="text-center mb-2"><h6>Rs.500</h6></div>
                    <div style="text-align: center;"> <button type="button" class="btn me-2 mb-3">Order Now</button></div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="img/img5.png" alt="" class="bd-placeholder-img card-img-top" width="100%">

                <h3 class="text-center my-2">Moti pak</h3>

                <p class="card-text px-3 pb-3 my-0">Savor our delectable Moti Pak, crafted with the finest besan, khoya, and
                    sugar, making it the perfect sweet for your celebrations.</p>
                    <div class="text-center mb-2"><h6>Rs.700</h6></div>
                    <div style="text-align: center;"> <button type="button" class="btn me-2 mb-3">Order Now</button></div>

            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">

                <img src="img/img6.png" alt="" class="bd-placeholder-img card-img-top" width="100%">

                <h3 class="text-center my-2"> Rasakulla</h3>

                <p class="card-text px-3 pb-3 my-0">
                    "Sweet, soft, and spongy Rasgullas made from fresh paneer and soaked in sugar syrup. Everyone loves them!</p>
                    <div class="text-center mb-2"><h6>Rs.500</h6></div>
                    <div style="text-align: center;"> <button type="button" class="btn me-2 mb-3">Order Now</button></div>

            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img src="img/img7.png" alt="" class="bd-placeholder-img card-img-top" width="100%">

                <h3 class="text-center my-2"> Pea Nut</h3>

                <p class="card-text px-3 pb-3 my-0">
                    Peanuts are a nutritious snack, rich in protein, healthy fats, vitamins, and minerals for a balanced diet.</p>
                    <div class="text-center mb-2"><h6>Rs.500</h6></div>
                    <div style="text-align: center;"> <button type="button" class="btn me-2 mb-3">Order Now</button></div>

            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="img/img8.png" alt="" class="bd-placeholder-img card-img-top" width="100%">

                <h3 class="text-center my-2"> Gulab jamun</h3>

                <p class="card-text px-3 pb-3 my-0">A luscious fried dumpling made from thickened milk, soaked in rose-flavored syrup, melting in your mouth.</p>
                <div class="text-center mb-2"><h6>Rs.400</h6></div>
                <div style="text-align: center;"> <button type="button" class="btn me-2 mb-3">Order Now</button></div>
                    
                    
                  
            </div>
        </div>


            <div class="col">
                <div class="card shadow-sm">
                    <img src="img/img10.png" alt="" class="bd-placeholder-img card-img-top" width="100%">

                    <h3 class="text-center my-2"> Katli Pista Roll</h3>

                    <p class="card-text px-3 pb-3 my-0"> 
                        "Katli Pista Roll, made from almonds and pistachios, boost supports heart health.purely healthy rich  food</p>
                        <div class="text-center mb-2"><h6>Rs.1000</h6></div>
                    <div style="text-align: center;"> <button type="button" class="btn me-2 mb-3">Order Now</button></div>
                </div>
                
            </div>
        </div>
    </div>