<!-- <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="img/bg-4.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption caption-pos d-none d-md-block d-flex align-self-center my-5">
                <h3 class="h2"> BLOODY SWEET!</h3>
                <p>"Experience delight with our handcrafted sweets & savouries. Quality and taste in every bite!"</p>
                <button type="button" class="btn btn-primary">Order Now</button>
            </div>
        </div>
        <div class="carousel-item">
            <img src="img/hero-1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption  d-none d-md-block d-flex align-self-center my-5">
                <h3> Sweets</h3>
                <p>"Our sweets are rich in flavor and quality, crafted to bring a touch of indulgence to every moment."
                </p>
                <button type="button" class="btn btn-primary">Order Now</button> 
            </div>
        </div>

       
    <div class="carousel-item">
        <img src="img/hero-1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption caption-pos d-none d-md-block d-flex align-self-center my-5">
            <h3> Savouries</h3>
            <p>Our savouries: rich in quality, bursting with flavor."</p>
            <button type="button" class="btn btn-primary">Order Now</button> 
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> -->


<!-- <div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner mt-0">
      <div class="carousel-item active">
        <img src="img/ban1.jpg" class="d-block w-100" height="600px" alt="..."/>
        
                
      </div>
      <div class="carousel-item">
        <img src="img/banner2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="img/banner3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->

  <div id="carouselExampleDark" class="carousel carousel-dark slide" style="margin-top: -25px">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <div>
        <img src="img/ban111.jpg" class="d-block w-100" alt="...">
    </div>
        <div class="carousel-caption d-none d-md-block">
  
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="img/banner2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-white">Sweets</h5>
          <p class="text-white">"Our sweets are rich in flavor and quality, crafted to bring a touch of indulgence to every moment."</p>
          <button type="button" class="btn">Order Now</button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/banner3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="text-white">Savouries</h3>
          <p class="text-white">Our savouries: rich in quality, bursting with flavor."</p>
          <button type="button" class="btn">Order Now</button>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



<h3 class="text-center py-3 mt-3">Popular Sweets</h3>

<div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 py-2">
        <div class="col">
            <div class="card shadow-sm">
                <img src="img/ms1.webp" alt="" class="bd-placeholder-img card-img-top" width="100%">

                <h5 class="text-center my-2">Milk Sweets</h5>

                <p class="card-text my-0 px-3 pb-3 text-center"> Rs.600</p>


            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">

                <img src="img/cash.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%">

                <h5 class="text-center my-2"> Cashew Sweets</h5>

                <p class="card-text px-3 pb-3 text-center"> Rs.1200</p>


            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">

                <img src="img/gs-11.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%">

                <h5 class="text-center my-2"> Ghee Sweets</h5>

                <p class="card-text px-3 pb-3 text-center"> Rs.900</p>


            </div>
        </div>


    </div>
</div>


<h3 class="text-center py-5"> Our Popular Crispy ,Crunch & Savouries</h3>

<div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 py-2">
        <div class="col">
            <div class="card shadow-sm">
                <img src="img/sev.webp" alt="" class="bd-placeholder-img card-img-top" width="100%">

                <h5 class="text-center my-2">Kara sev</h5>

                <p class="card-text my-0 px-3 pb-3 text-center"> Rs.300</p>


            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">

                <img src="img/chips-1.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%">

                <h5 class="text-center my-2"> Chips</h5>

                <p class="card-text px-3 pb-3 text-center"> Rs.400</p>


            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">

                <img src="img/mixture.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%">

                <h5 class="text-center my-2"> Mixture</h5>

                <p class="card-text px-3 pb-3 text-center"> Rs.400</p>


            </div>
        </div>


    </div>
</div>


<h3 class="text-center mt-5">Our Cheff's</h3>

<div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 py-2">
        <div class="col">
            <div class="card shadow-sm rounded-5">
                <img src="img/chef-1.jpg" alt="" class="bd-placeholder-img card-img-top rounded-5" width="100%">

                <h5 class="text-center my-2">Clinton</h5>

                <!-- <p class="card-text my-0 px-3 pb-3 text-center"> Skilled chef specializing in gourmet dishes and culinary innovation.</p> -->


            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm rounded-5">

                <img src="img/chef-2.jpg" alt="" class="bd-placeholder-img card-img-top rounded-5" width="100%">

                <h5 class="text-center my-2"> Imran</h5>




            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm rounded-5">

                <img src="img/chef-3.jpg" alt="" class="bd-placeholder-img card-img-top rounded-5" width="100%">

                <h5 class="text-center my-2"> Rosy</h5>




            </div>
        </div>


    </div>
</div>




<section id="customer-review" class="mt-5">
    <h2 class="text-center">Customer Review</h2>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <div id="testimonial-slider" class="owl-carousel">
                <div class="testimonial">
                    <div class="pic">
                        <img src="img/men1.jpg">
                    </div>
                    <p class="description">
                        
"Exceptional dining awaits with exquisite flavors and top-notch service! Indulge in a culinary experience like no other."
                    </p>
                    <div class="testimonial-profile">
                        <h3 class="title">Tamil Selvan</h3>
                        <br>
                        <span class="post">Designer</span>
                    </div>
                </div>
 
                <div class="testimonial">
                    <div class="pic">
                        <img src="img/girl.jpg">
                    </div>
                    <p class="description">
                        "Enjoy tasty food with beautiful presentation, though service can be slow at times."
                    </p>
                    <div class="testimonial-profile">
                        <h3 class="title">Rosy</h3>
                        <br>
                        <span class="post">Developer</span>
                    </div>
                </div>

                <div class="testimonial">
                    <div class="pic">
                        <img src="img/men3.jpg">
                    </div>
                    <p class="description">
                        Thank you so much for the elegant cupcakes. They looked and tasted amazing. I’m recommending you to all my friends.
                    </p>
                    <div class="testimonial-profile">
                        <h3 class="title">Clinton</h3>
                        <br>
                        <span class="post">Sea Man</span>
                    </div>
                </div>
 
                <div class="testimonial">
                    <div class="pic">
                        <img src="img/men2.jpg">
                    </div>
                    <p class="description">

                        This bakery was great to work with and I will be using them for my future events. Their cupcakes tasted absolutely delightful.
                    </p>
                    <div class="testimonial-profile">
                        <h3 class="title">Logesh</h3>
                        <br>
                        <span class="post">Video Editor</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<h1 class="text-center mt-5">Our Order Online Partner</h1>

<div class="container">

    <div class="row row-cols-1 row-cols-sm-4 row-cols-md3 g-5 py-2">
        <div class="col">
            <div class="card shadow-sm rounded-5">
                <img src="img/Frame 395.jpg" alt="" class="bd-placeholder-img card-img-top rounded-5" width="100%">

                <!-- <h5 class="text-center my-2"></h5> -->

            </div>
        </div>


        <div class="col">
            <div class="card shadow-sm rounded-5">

                <img src="img/Frame 396.jpg" alt="" class="bd-placeholder-img card-img-top rounded-5" width="100%">

            </div>
        </div>


        <div class="col">
            <div class="card shadow-sm rounded-5">

                <img src="img/Frame 397.jpg" alt="" class="bd-placeholder-img card-img-top rounded-5" width="100%">

               
            </div>
        </div>


        <div class="col">
            <div class="card shadow-sm rounded-5">

                <img src="img/Frame 398.jpg" alt="" class="bd-placeholder-img card-img-top rounded-5" width="100%">

               




            </div>
        </div>


    </div>
</div>




















